.about-us {
  &__container {
    @include page-grid;
    @include minus-margin;

    background-color: rgba(252, 250, 239, 1);
    height: 392px;
    align-items: center;
    justify-content: center;

    padding-inline: 20px;
    margin-block: -6px;

    @include on-tablet {
      height: 416px;
      padding-inline: 72px;
    }

    @include on-desktop {
      height: 450;
      padding-inline: 112px;
    }
  }

  &__title {
    margin: 0;
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 1 / 4;
    }

    @include on-desktop {
      grid-column: 1 / 7;
    }
  }

  &__content {
    margin: 0;
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 4 / -1;
    }

    @include on-desktop {
      grid-column: 8 / -1;
    }
  }

  &__description {
    letter-spacing: 0.15px;
    font-weight: 400;
  }

  &__photo {
    grid-column: 1 / -1;
    width: 100vw;
    height: 200px;
    object-fit: cover;
    object-position: center;

    @include minus-margin;

    @include on-tablet {
      height: 400px;
    }

    @include on-desktop {
      height: 460px;
    }
  }
}
