.categories {
  &__wrapper {
    display: grid;
    row-gap: 40px;


    @include on-tablet {
      row-gap: 56px;
    }
  }
}

.category {
  &__photos {
    @include page-grid;
  }

  &__link {
    background-color: rgba(249, 249, 249, 1);
    grid-column: span 1;

    @include on-tablet {
      grid-column: span 3;
    }

    @include on-desktop {
      grid-column: span 6;
    }

    @include hover(transform, scale(1.1));

    @include on-tablet {
      @include hover(transform, scale(1.03));
    }
  }

  &__photo {
    width: 100%;

    object-fit: contain;

    @include on-tablet {
      height: 184px;

      font-size: 24px;
    }

    @include on-desktop {
      height: 324px;
    }
  }

  &__title {
    font-size: 18px;

    @include on-tablet {
      font-size: 24px;
    }
  }
}
