.contacts {
  @include page-grid;

  justify-content: center;
  align-items: center;

  &__container {
    grid-column: 1 / -1;

    @include on-desktop {
      grid-column: 8 / -1;
    }
  }

  &__text {
    color: rgba(147, 147, 163, 1);
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
  }

  &__description {
    margin-bottom: 24px;
    text-decoration: none;
    color: inherit;
  }

  &__description:hover {
    color: rgba(147, 147, 163, 1);
  }
}
