.form {
  margin-bottom: 16px;
  display: block;
  box-sizing: border-box;
  width: 100%;

  &__container {
    grid-column: 1 / -1;

    @include onDesktop {
      grid-column: 1 / 7;
    }
  }

  &__input {
    width: 100%;
    box-sizing: border-box;

    padding-left: 16px;
    text-align: left;

    font-family: inherit;
    color: inherit;
    letter-spacing: 0.15px;
    line-height: 140%;
    font-size: 14px;
    font-weight: 400;

    border-radius: 8px;
    border: none;
    background-color: rgba(249, 249, 249, 1);
    outline: none;
  }

  &__input--small {
    height: 48px;
  }

  &__input--big {
    height: 148px;
  }

  &__input::placeholder {
    font-family: Manrope, sans-serif;
    color: rgba(126, 126, 131, 1);
    font-weight: 400;
    letter-spacing: 0;
    opacity: 1;
  }
}

.button__form {
  margin-top: 16px;
  margin-bottom: 48px;
}
